body {
  @include font-feature-settings('kern', 'liga', 'pnum');

  line-height: $base-line-height;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 $small-spacing;
  line-height: $heading-line-height;
  font-family: $heading-font-family;
  font-size: $base-font-size;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  transition: color 0.1s linear;
  text-decoration: none;
  color: $action-color;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  margin: $base-spacing 0;
  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
